/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html {
    max-width: 1920px;
    min-width: 428px;
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, p, a, i {
    text-decoration: none;
    color: aliceblue;
}

h1{
    text-size-adjust: 6rem;
    align-items: center;
    margin-left: 35%;
    padding: 5%;
}
h2 {
    font-size: 6rem;
}

h3 {
    font-size: 5rem;
}

h4 {
    font-size: 3rem;
}

p, a {
    font-size: 2rem;
}

/* header section */
header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(360deg, transparent, rgba(0, 0, 0, 0.805)), url('../img/menu-header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: top;
    flex-direction: column;
}
header div {
    width: 100%;
}
 .navigation{
    margin-top: 0%;
    padding: 2%;  
    margin-left: 4%;
}
.navigation a{
    padding: 8%;
}
.socialMedia{
    margin-left: 35%;
    padding: 3%;
    word-spacing: 50px;
}
.socialMedia a{
    padding: 2%;
    box-sizing: content-box;
}

/* spacer */
.spacer {
    width: 100%;
    height: 20vh;
    background-color: black;
}
.spacer-sm {
    width: 100%;
    height: 100%;
    background-color: black;
}


/* menu */

.menu-container {
    width: 100%;
    height: 100%  ;
    background-image: linear-gradient(0deg, transparent, rgba(0, 0, 0, 0.532)), url('../img/staff-bartender.jpg');
    background-color: rgb(0, 4, 17);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
}


h2{
    align-items: center;
    margin-left: 30%;
    padding: 5%;
    
}
.menu-section{
    width: 100%;
    margin-top: 5%;
    padding: 2%;
    display: flex;
    align-self: start;
    flex-direction: row;
}
.menu-item{
    align-items:flex-start;
    padding: 1%;
}
p{
    margin-left: 5%;
}

.spacer-sm{
    background-color: black;
}

/* footer section */
footer {
    width: 100%;
    height: 100%;
    padding-top: 2.5vh;
    font-size: 3rem;
    display: flex;
    align-items: normal;
    flex-direction: row;
    background-color: black;
}
.mailing{
    width: 50%;
    margin-left: 5%;
    margin-top: 3%;
    margin-right: 0%;
}
.mailing p{
    padding:5%;
    font-size-adjust: 5rem;

}
.signUp{
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    padding: 3%;
    
}
.copyright{
    width: 100%;
    margin-left: 0%;
    padding: 3%;
}
.copyright p{
    margin-top: 6%;
}
.footerNav{
    margin-top: 1%;
}
.footerNav a{
    padding: 5%;
}


/* mobile media query */
@media (max-width: 428px) {
    /* header section */
    header{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    h1{
        align-items: center;
        margin-left: 0%;
        padding: 5%;
    }
    header nav{
        height: 100%;
    }
    .navigation{
        display: flex;
        flex-direction: column;
        padding: 5%;
    }
    .socialMedia{
        padding-top: 10%;
        margin-left: 10%;
    }

    /* menu */
    .menu-container {
        background-image: none;
        display: flex;
        flex-direction: column;
        margin-left: 0%;
    }
    h2{
        align-items: normal;
        margin-left: 10%;
        padding: 5%;
        width: 100%;
        font-size: xx-large;
    }
    .menu-section{
        width: 50%;
        margin-top: 1%;
        padding: 2%;
        display: flex;
        align-self: normal;
        flex-direction: column;
        margin-left: 5%;
    }
    .menu-item{
        align-items: normal;
        padding: 5%;
    }

    /* footer section */
    footer {
        width: 100%;
        height: 100%;
        padding-top: 2.5vh;
        font-size: 3rem;
        display: flex;
        align-items: normal;
        flex-direction: column;
        background-color: black;
    }
    .mailing{
        width: 50%;
        margin-left: 5%;
        margin-top: 3%;
        margin-right: 0%;
    }
    .mailing p{
        padding:5%;
        font-size-adjust: 5rem;
    
    }
    .signUp{
        margin-left: 5%;
        display: flex;
        flex-direction: row;
        padding: 3%;
        
    }
    .copyright{
        width: 70%;
        margin-left: 0%;
        padding: 3%;
        margin-right: 5%;
    }
    .copyright p{
        margin-top: 3%;
        font-size: small;
    }
    .footerNav{
        word-spacing: 5px;
        display: flex;
        flex-direction: column;
    }
}
